$font-name: "open Sans regular";
@font-face {
	font-family:"Open Sans regular";
	src:url("../fonts/opensans/opensans-regular.eot?#iefix");
	src:url("../fonts/opensans/opensans-regular.eot?#iefix") format("eot"),
	url("../fonts/opensans/opensans-regular.woff") format("woff"),
	url("../fonts/opensans/opensans-regular.ttf") format("truetype"),
	url("../fonts/opensans/opensans-regular.svg") format("svg");
  	font-weight: normal;
	font-style: normal;
}

$font-name: "Open Sans bold";
@font-face {
	font-family:"Open Sans bold";
	src:url("../fonts/opensans/opensans-bold.eot?#iefix");
	src:url("../fonts/opensans/opensans-bold.eot?#iefix") format("eot"),
	url("../fonts/opensans/opensans-bold.woff") format("woff"),
	url("../fonts/opensans/opensans-bold.ttf") format("truetype"),
	url("../fonts/opensans/opensans-bold.svg") format("svg");
  	font-weight: normal;
	font-style: normal;
}

$font-name: "Open Sans light";
@font-face {
	font-family:"Open Sans light";
	src:url("../fonts/opensans/opensans-light.eot?#iefix");
	src:url("../fonts/opensans/opensans-light.eot?#iefix") format("eot"),
	url("../fonts/opensans/opensans-light.woff") format("woff"),
	url("../fonts/opensans/opensans-light.ttf") format("truetype"),
	url("../fonts/opensans/opensans-light.svg") format("svg");
  	font-weight: normal;
	font-style: normal;
}