.block-title {
	text-align: center;
	padding-top: 2em;

	.pre-heading {
		color: $gray;
	}

	.title {
		position: relative;
		margin-top: .3em;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -1em;
			bottom: -.5em;
			width: 2em;
			height: 1px;
			background: $yellow;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -.5em;
			bottom: -.7em;
			width: 1em;
			height: 1px;
			background: $gray;
		}
	}
}